* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

.selection {
  text-align: center;
  margin-top: calc(10vh + 30px);
}
.selection label {
  color: white;
}
.selection select {
  width: 80px;
  padding: 5px 10px;
}

.button button {
  padding: 5px;
}

header {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0 calc(18% + 30px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header img {
  height: 8vh;
}

main {
  padding: 0 18%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .album {
  text-align: center;
  width: calc(100% / 3 - (30px * 2));
  min-width: 200px;
  height: 360px;
  margin: 30px;
  background-color: black;
  color: white;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .album img {
  width: 100%;
}
main .album h3 {
  font-size: 20px;
}
main .album .author-year {
  color: darkgrey;
}
main .album .author-year .author {
  font-weight: 700;
}

@media screen and (max-width: 1300px) {
  main {
    padding: 0 15%;
  }
  main .album {
    width: 200px;
  }
}
@media screen and (max-width: 1115px) {
  main {
    padding: 0 5%;
  }
}
@media screen and (max-width: 577px) {
  header {
    padding: 0;
    justify-content: center;
  }
}
footer {
  height: 10vh;
  margin-top: 30px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
