*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $backgroundBody;
}

.selection{
  text-align: center;
  margin-top: calc(#{$header_footerHeight} + #{$marginElements});
  label{
    color: white;
  }
  select{
    width: 80px;
    padding: 5px 10px;
    @include hover;
  }
}

.button{
  button{
    padding: 5px;
    background-color: white;
    @include hover;
  }
}
