*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $backgroundBody;
}

.selection{
  text-align: center;
  margin-top: calc(10vh + 30px);
  label{
    color: white;
  }
  select{
    width: 80px;
    padding: 5px 10px;
  }
}
