main{
	padding: 0 $horizontalPadding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.album{
		text-align: center;
		width: calc(100% / 3 - (#{$marginElements} * 2));
		min-width: 200px;
		height: 360px;
		margin: $marginElements;
		background-color: $backgroundAlbum;
		color: white;
		padding: 25px;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		img{
			width: 100%;
		}
		h3{
			font-size: 20px;
		}
		.author-year{
			color: darkgrey;
			.author{
				font-weight: 700;
			}
		}
	}

}

@include mediaQuery;

